// ja //
$font-text: "hiragino-kaku-gothic-pron", sans-serif;
$font-main: "fot-matisse-pron", sans-serif;
$font-size: 18px;
$font-h2: 2.72222rem;
$font-h3: 2.16667rem;
$font-h4: 1.72222rem;
$font-h5: 1.33333rem;
$font-h6: 1.11111rem;

$font-size-sp:16px;
$font-h2-sp:25px;
$font-h4-sp:18px;

// not yet //
$main-color: #b1382b; // 深みのある茶色
$secondary-color: #fcfafa; // ソフトなオフホワイト
$accent-color: #fff; // 純白
$text-color: #282828; // ダークグレー